apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "dnsmasq-k8s-ui.fullname" . }}
  labels:
    {{- include "dnsmasq-k8s-ui.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - create
      - get
      - list
      - watch
      - update
      - patch
